.env
DeezSpoTag.Web/Data/*
!DeezSpoTag.Web/Data/*.cs
bin
obj
**/bin
**/obj
**/*.user
**/*.csproj.user
.git
.gitignore
docker-compose.yml
downloads
node_modules
spotizerr-2.5.0
deemix
Tools/AppleMusicWrapper/runtime/app/rootfs/proc
Tools/AppleMusicWrapper/runtime/app/rootfs/sys
Tools/AppleMusicWrapper/runtime/app/rootfs/dev/pts
!Tools/AppleMusicWrapper/runtime/app/rootfs/system/bin
!Tools/AppleMusicWrapper/runtime/app/rootfs/system/bin/**
!Tools/AppleMusicWrapper/runtime/app/rootfs/rootfs/system/bin
!Tools/AppleMusicWrapper/runtime/app/rootfs/rootfs/system/bin/**
