openssl_conf = openssl_init

.include /etc/ssl/openssl.cnf

[openssl_init]
providers = provider_sect
ssl_conf = ssl_section

[provider_sect]
default = default_sect
legacy = legacy_sect

[default_sect]
activate = 1

[legacy_sect]
activate = 1

[ssl_section]
system_default = tls_defaults

[tls_defaults]
CipherString = DEFAULT@SECLEVEL=0
MinProtocol = TLSv1
MaxProtocol = TLSv1.2
